.item-session,
.item-newDiscussion,
.item-nav .ButtonGroup button,
.Header-controls .item-notifications,
.Header-controls .item-locale {
    display: none;
}

#header,
#header .container,
#header-secondary .Header-controls {
    height: 100%;
}

#header-secondary {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.BH_item-session {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
}

.BH_item-session li {
    width: 100%;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    list-style: none;
}

.BH_item-session li.Dropdown-separator {
    height: 2px;
    background-color: #0c3d99;
}

.BH_item-session button {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

.BH_item-session li a {
    color: white;
}