.App {
    padding-top: 72px;
}

#header {
    background-image: linear-gradient(to right, #117e96 0%, #116b80 35%, #125b6b 80%);
    height: 35px;
    padding: 0;
}

.App-header .container {
    max-width: 1250px;
    padding: 0;
}

.item-search {
    float: left;
    position: relative;
    margin-left: 20px;
    list-style: none;
}

.Search {
    width: 208px;
}

.Search.focused {
    margin-left: 0;
}

.Search.focused input {
    width: 208px;
}

.Search-input::before {
    float: right;
    margin-right: 0;
    right: 4px;
    position: absolute;
    color: #117e96;
    width: 28px;
    height: 30px;
    line-height: 36px;
    padding: 0;
    font-size: 20px;
}

.App-header .FormControl {
    background-color: #FFF;
    height: 28px;
    margin: 3px 0;
    color: black;
    width: 208px;
    padding-left: 10px;
}

.App-header .FormControl:focus {
    background-color: #FFF;
    height: 28px;
    margin: 3px 0;
    color: black;
    width: 208px;
    padding-left: 10px;
}

.LoadingIndicator-container.LoadingIndicator-container--inline.LoadingIndicator-container--small,
.icon .fas .fa-times-circle {
    display: none;
}

.item-session {
    height: 36px;
}

.item-session .Avatar {
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.item-session .ButtonGroup {
    float: right;
}

.item-session .Dropdown-toggle {
    height: 36px;
    padding: 12px;
}

.item-session .Dropdown-toggle::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 8px;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-width: 0 0 2px 2px;
    border-color: transparent transparent white white;
    transform: rotate(-45deg);
}

.App-header .Button:active,
.App-header .Button.active,
.App-header .Button:focus,
.App-header .Button.focus,
.App-header .open>.Dropdown-toggle.Button {
    color: #FFF;
    background: transparent;
}

.App-header .Button,
.App-header .Button:hover {
    color: #FFF;
    background: transparent;
}

img.Header-logo {
    margin-bottom: 1px;
}

.Dropdown-menu.dropdown-menu.Dropdown-menu--right {
    width: 260px;
}

.fa-bell::before {
    content: "";
    background-image: url("https://i2.bahamut.com.tw/navicon_notification_dark.png");
    background-size: 24px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 6px;
    width: 24px;
    height: 24px;
    top: 0px;
    left: 0px;
}

.NotificationsDropdown.open.fa-bell {
    background: #249db8;
}

.NotificationsDropdown.open.fa-bell::before {
    background-image: url(https://i2.bahamut.com.tw/navicon_notification_active.png);
}

.BH_Client {
    width: 260px;
    padding: 8px 12px 6px 12px;
    height: 72px;
}

.BH_Client:hover {
    background-color: var(--control-bg);
}

.BH_ClientAvatar {
    width: 54px;
    height: 54px;
    border: solid 3px white;
    border-radius: 100%;
    margin: 2px;
    float: left;
}

.BH_ClientName {
    float: left;
    color: #F7F7F7;
    display: block;
    margin-left: 10px;
    max-width: 168px;
    font-size: 15px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 8px;
    cursor: default;
}

.BH_ClientId {
    color: #33CCCC;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    float: left;
    margin-top: 6px;
    cursor: default;
}

.sideNavContainer {
    display: block;
}

.sideNav,
.sideNav>ul {
    width: 100%;
}

.sideNav .Dropdown--select .Dropdown-menu li {
    float: left;
    border: solid 1px #222;
    background: #22272C;
    margin: 2px;
    width: calc(12.5% - 4px);
    height: 38px;
    border-radius: 5px;
}

.sideNav .Dropdown--select .Dropdown-menu li.active {
    background-color: #00B0B6;
}

.sideNav .Dropdown--select .Dropdown-menu>li>a {
    padding-left: 0px;
    color: #A6ACC7;
    text-align: center;
}

.sideNav .Dropdown--select .Dropdown-menu>li>a .Button-icon {
    display: none;
}

.sideNav .Dropdown--select .Dropdown-menu li .Button-label {
    text-align: center;
    font-size: 14px;
}

.sideNav .Dropdown--select .Dropdown-menu li.active .Button-label {
    color: #FFF;
}

#BH_header {
    position: relative;
    height: 40px;
    background-color: #1C1C1C;
    width: 100%;
}

#BH_headerMenu {
    position: relative;
    height: 40px;
    width: 1100px;
    margin: 0 auto;
}

#BH_headerMenu li {
    position: relative;
    height: 40px;
    font-size: 15px;
    list-style: none;
    float: left;
    line-height: 40px;
    text-align: center;
    padding: 0 12px;
}

#BH_headerMenu li:hover .Button-label {
    color: #00B0B6;
}

#BH_headerMenu li+li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 1px;
    bottom: 8px;
    background-color: #555;
    pointer-events: none;
}

#BH_headerMenu li.Dropdown-separator {
    display: none;
}

#BH_headerMenu li a {
    pointer-events: none;
    padding: 0px;
}

#BH_headerMenu .Dropdown-menu>li.active>a {
    background: transparent;
}

#BH_headerMenu .icon {
    display: none;
}

#BH_headerMenu .Button-label {
    color: #CCC;
}

#BH_headerMenu .item-allDiscussions .Button-label {
    color: #00B0B6;
}

#BH_headerMenu li.active .Button-label {
    color: #00B0B6;
}

#BH_headerMenu li.item-newDiscussion {
    position: absolute;
    right: 0px;
    width: 60px;
    text-align: center;
    background-color: #00B0B6;
    border-radius: 3px;
    margin: 3px 0;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
}

#BH_headerMenu li#BH-replay {
    position: absolute;
    right: 0px;
    width: 60px;
    text-align: center;
    background-color: #00B0B6;
    border-radius: 3px;
    margin: 3px 0;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
}

#BH_headerMenu li#BH-replay::before {
    display: none;
}

.sideNav .ButtonGroup {
    display: inline-block;
    width: 100%;
}

#BH_headerMenu li.item-newDiscussion::before {
    display: none;
}

#BH_headerMenu li.item-newDiscussion button {
    padding: 0;
}

#BH_headerMenu li.item-newDiscussion .Button-label {
    color: white;
}

#BH_headerMenu li.item-newDiscussion:hover .Button-label {
    color: white;
}

.item-nav .item-allDiscussions,
.item-nav .item-rankings,
.item-nav .item-following,
.item-nav .item-bookmarks,
.item-nav .item-tags,
.item-nav .Dropdown-separator,
.sideNav .item-newDiscussion {
    display: none;
}

.TagsPage-nav.IndexPage-nav.sideNav {
    display: none;
}

.Composer:not(.fullScreen) {
    margin-left: 0;
    margin-right: 0;
}

#BH_headerMenuFocus {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 84px;
    height: 4px;
    background-color: #00B0B6;
    transition-duration: 500ms;
    box-shadow: 0 0 2px 0px #33cccc;
    pointer-events: none;
}

#BH_headerMenu .Dropdown-menu {
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}

ul.affix {
    display: none;
}

ul.affix-top {
    display: none;
}

.BH_welcomeImage {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 320px;
    margin-bottom: -24px;
    margin-top: 8px;
    object-fit: contain;
}

.DiscussionPage-nav>ul {
    margin-top: 90px;
}

#BH_adminList {
    position: absolute;
    top: 80px;
    left: calc(50% + 550px);
    padding: 4px 8px;
    color: white;
    text-align: left;
    background: #1b2028;
    border: solid 1px #333;
    border-radius: 3px;
}

.Hero #BH_adminList {
    top: 240px;
    left: calc(50% + 385px);
}

#BH_adminList::before {
    content: "板務人員:";
    position: relative;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 4px;
}

.BH_adminItem {
    position: relative;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    margin: 5px;
    float: left;
    box-shadow: 0 0 1px white;
}

.BH_adminItemImg {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.BH_adminItemBlock {
    position: absolute;
    top: 100%;
    right: -20px;
    width: 500px;
    height: 0px;
    background-color: #F9FAFE;
    border-radius: 7px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition-duration: 150ms;
    z-index: 3;
}

.BH_adminItem:hover .BH_adminItemBlock {
    opacity: 1;
    pointer-events: all;
    height: 160px;
}

.BH_adminItemCover {
    width: 500px;
    height: 100px;
    object-fit: cover;
}

.BH_adminItemAvatar {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: #EEE;
    border: solid 3px white;
    border-radius: 3px;
}

.BH_adminItemName {
    position: absolute;
    top: 100px;
    left: 120px;
    right: 0px;
    color: black;
    height: 24px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.BH_adminItemId {
    position: absolute;
    top: 120px;
    left: 120px;
    right: 0px;
    color: #00B0B6;
    height: 18px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.BH_adminItemId a {
    color: #00B0B6;
}

.BH_DiscussionListItem {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    margin: 10px 0;
}

.BH_previewImage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 120px;
    object-fit: cover;
    border-radius: 7px;
}

div.BH_previewImage {
    background-color: #21272A;
    border: dashed 2px white;
    text-align: center;
    font-size: 20px;
    line-height: 116px;
}

.BH_DiscussionListItem .DiscussionListItem-content {
    position: absolute;
    top: 0px;
    left: 240px;
    right: 0px;
    bottom: 0px;
    padding-left: 20px;
    padding-right: 80px;
}

.BH_DiscussionListItem .DiscussionListItem-author {
    margin-left: 0px;
}

.BH_DiscussionListItem .Avatar {
    margin-right: 10px;
}

.BH_DiscussionListItem .DiscussionListItem-badges {
    position: absolute;
    top: -5px;
}

.BH_DiscussionListItem .ButtonGroup {
    display: none;
}

#BH_notificationBtn {
    position: relative;
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    background-image: url("https://i2.bahamut.com.tw/navicon_notification_dark.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

#BH_notificationsTable {
	display: none;
	position: absolute;
	width: 400px;
	height: 480px;
	overflow-y: auto;
	background-color: #222;
	padding-left: 0;
	z-index: 1;
	box-shadow: 0 0 20px 4px #0008;
	border-radius: 3px;
}

#BH_notificationNoreadNum {
	float: right;
	background-color: #F34;
	font-size: 10px;
	color: white;
	padding: 0 2px;
	border-radius: 3px;
	pointer-events: none;
	min-width: 15px;
	text-align: center;
}

.BH_notificationItem {
	position: relative;
	width: 100%;
	height: 76px;
}

.BH_noRead {
	background-color: #343537;
}

.BH_notificationItem:hover {
	background-color: #15171A;
}

.BH_notificationItem::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: #FFF3;
}

.BH_notificationFromUser {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 7px;
    border-radius: 100%;
}

.BH_notificationLinkText {
    margin: 0 2px;
    color: #4CC;
}

.BH_notificationContentText {
	color: #AAA;
}

.BH_notificationText {
	position: absolute;
	top: 5px;
	left: 66px;
	right: 10px;
	bottom: 5px;
	color: #EEE;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 18px;
	cursor: default;
}

.BH_notificationTime {
	color: #777;
	font-size: 12px;
	bottom: 3px;
	position: absolute;
	line-height: 14px;
	right: 10px;
}

div.BH_previewImageTag1 {
    border-color: #0471A6;
    color: #0471A6;
}

div.BH_previewImageTag1::before {
    content: "綜合";
}

div.BH_previewImageTag2 {
    border-color: #417B5A;
    color: #417B5A;
}

div.BH_previewImageTag2::before {
    content: "動漫";
}

div.BH_previewImageTag3 {
    border-color: #1E555C;
    color: #1E555C;
}

div.BH_previewImageTag3::before {
    content: "遊戲";
}

div.BH_previewImageTag6 {
    border-color: #26408B;
    color: #26408B;
}

div.BH_previewImageTag6::before {
    content: "八卦";
}

div.BH_previewImageTag19 {
    border-color: #9E0059;
    color: #9E0059;
}

div.BH_previewImageTag19::before {
    content: "真人成人";
}

div.BH_previewImageTag20 {
    border-color: #575D90;
    color: #575D90;
}

div.BH_previewImageTag20::before {
    content: "站方";
}

div.BH_previewImageTag23::before {
    content: "網站建議/回報";
}

div.BH_previewImageTag24 {
    border-color: #3A445D;
    color: #3A445D;
}

div.BH_previewImageTag24::before {
    content: "音樂";
}

div.BH_previewImageTag26 {
    border-color: #15AABF;
    color: #15AABF;
}

div.BH_previewImageTag26::before {
    content: "廢文";
}

div.BH_previewImageTag27 {
    border-color: #37718E;
    color: #37718E;
}

div.BH_previewImageTag27::before {
    content: "閒聊";
}

div.BH_previewImageTag28 {
    border-color: #FD7E19;
    color: #FD7E19;
}

div.BH_previewImageTag28::before {
    content: "戲劇";
}

div.BH_previewImageTag34 {
    border-color: #F783AC;
    color: #F783AC;
}

div.BH_previewImageTag34::before {
    content: "推坑";
}

div.BH_previewImageTag36 {
    border-color: #BE4BDB;
    color: #BE4BDB;
}

div.BH_previewImageTag36::before {
    content: "集中串";
}

div.BH_previewImageTag38 {
    border-color: #51BBFE;
    color: #51BBFE;
}

div.BH_previewImageTag38::before {
    content: "【成人】BL";
}

div.BH_previewImageTag39 {
    border-color: #DB6C79;
    color: #DB6C79;
}

div.BH_previewImageTag39::before {
    content: "【成人】GL";
}

div.BH_previewImageTag40 {
    border-color: #038030;
    color: #038030;
}

div.BH_previewImageTag40::before {
    content: "新聞";
}

div.BH_previewImageTag41 {
    border-color: #A85102;
    color: #A85102;
}

div.BH_previewImageTag41::before {
    content: "政治";
}

div.BH_previewImageTag42 {
    border-color: #FF5505;
    color: #FF5505;
}

div.BH_previewImageTag42::before {
    content: "影音";
}

div.BH_previewImageTag44 {
    border-color: #9E0059;
    color: #9E0059;
}

div.BH_previewImageTag44::before {
    content: "二次元成人";
}

div.BH_previewImageTag45 {
    border-color: #51BBFE;
    color: #51BBFE;
}

div.BH_previewImageTag45::before {
    content: "【成人】二次元BL";
}

div.BH_previewImageTag46 {
    border-color: #DB6C79;
    color: #DB6C79;
}

div.BH_previewImageTag46::before {
    content: "【成人】二次元GL";
}

div.BH_previewImageTag51 {
    border-color: #5BC3EB;
    color: #5BC3EB;
}

div.BH_previewImageTag51::before {
    content: "認真";
}

div.BH_previewImageTag52 {
    border-color: #CC3363;
    color: #CC3363;
}

div.BH_previewImageTag52::before {
    content: "創作";
}

div.BH_previewImageTag54 {
    border-color: #2C497F;
    color: #2C497F;
}

div.BH_previewImageTag54::before {
    content: "程式";
}

div.BH_previewImageTag64 {
    border-color: #F50853;
    color: #F50853;
}

div.BH_previewImageTag64::before {
    content: "教學";
}

div.BH_previewImageTag68 {
    border-color: #86219C;
    color: #86219C;
}

div.BH_previewImageTag68::before {
    content: "版務爭議";
}

div.BH_previewImageTag69 {
    border-color: #FBB200;
    color: #FBB200;
}

div.BH_previewImageTag69::before {
    content: "精華";
}

div.BH_previewImageTag73 {
    border-color: #FF5000;
    color: #FF5000;
}

div.BH_previewImageTag73::before {
    content: "懲處名單";
}

div.BH_previewImageTag74::before {
    content: "電腦";
}

div.BH_previewImageTag76::before {
    content: "Switch";
}

div.BH_previewImageTag78::before {
    content: "PS";
}

div.BH_previewImageTag79 {
    border-color: #3A445D;
    color: #3A445D;
}

div.BH_previewImageTag79::before {
    content: "寶拉";
}

div.BH_previewImageTag81::before {
    content: "輔導級內容";
}

div.BH_previewImageTag82 {
    border-color: #AC2949;
    color: #AC2949;
}

div.BH_previewImageTag82::before {
    content: "心情";
}

div.BH_previewImageTag83 {
    border-color: #d45150;
    color: #d45150;
}

div.BH_previewImageTag83::before {
    content: "問題";
}

div.BH_previewImageTag84 {
    border-color: #034C3C;
    color: #034C3C;
}

div.BH_previewImageTag84::before {
    content: "大學";
}

div.BH_previewImageTag86::before {
    content: "管理組";
}

div.BH_previewImageTag92 {
    border-color: #58BC82;
    color: #58BC82;
}

div.BH_previewImageTag92::before {
    content: "個版";
}