.App {
    padding-top: 72px;
}

#header {
    background-image: linear-gradient(to right, #117e96 0%, #116b80 35%, #125b6b 80%);
    height: 35px;
    padding: 0;
}

.App-header .container {
    max-width: 1250px;
    padding: 0;
}

.item-search {
    float: left;
    position: relative;
    margin-left: 20px;
    list-style: none;
}

.Search {
    width: 208px;
}

.Search.focused {
    margin-left: 0;
}

.Search.focused input {
    width: 208px;
}

.Search-input::before {
    float: right;
    margin-right: 0;
    right: 4px;
    position: absolute;
    color: #117e96;
    width: 28px;
    height: 30px;
    line-height: 36px;
    padding: 0;
    font-size: 20px;
}

.App-header .FormControl {
    background-color: #FFF;
    height: 28px;
    margin: 3px 0;
    color: black;
    width: 208px;
    padding-left: 10px;
}

.App-header .FormControl:focus {
    background-color: #FFF;
    height: 28px;
    margin: 3px 0;
    color: black;
    width: 208px;
    padding-left: 10px;
}

.LoadingIndicator-container.LoadingIndicator-container--inline.LoadingIndicator-container--small,
.icon .fas .fa-times-circle {
    display: none;
}

.item-session {
    height: 36px;
}

.item-session .Avatar {
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.item-session .ButtonGroup {
    float: right;
}

.item-session .Dropdown-toggle {
    height: 36px;
    padding: 12px;
}

.item-session .Dropdown-toggle::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 8px;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-width: 0 0 2px 2px;
    border-color: transparent transparent white white;
    transform: rotate(-45deg);
}

.App-header .Button:active,
.App-header .Button.active,
.App-header .Button:focus,
.App-header .Button.focus,
.App-header .open>.Dropdown-toggle.Button {
    color: #FFF;
    background: transparent;
}

.App-header .Button,
.App-header .Button:hover {
    color: #FFF;
    background: transparent;
}

img.Header-logo {
    margin-bottom: 1px;
}

.Dropdown-menu.dropdown-menu.Dropdown-menu--right {
    width: 260px;
}

.fa-bell::before {
    content: "";
    background-image: url("https://i2.bahamut.com.tw/navicon_notification_dark.png");
    background-size: 24px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 6px;
    width: 24px;
    height: 24px;
    top: 0px;
    left: 0px;
}

.NotificationsDropdown.open.fa-bell {
    background: #249db8;
}

.NotificationsDropdown.open.fa-bell::before {
    background-image: url(https://i2.bahamut.com.tw/navicon_notification_active.png);
}

.BH_Client {
    width: 260px;
    padding: 8px 12px 6px 12px;
    height: 72px;
}

.BH_Client:hover {
    background-color: var(--control-bg);
}

.BH_ClientAvatar {
    width: 54px;
    height: 54px;
    border: solid 3px white;
    border-radius: 100%;
    margin: 2px;
    float: left;
}

.BH_ClientName {
    float: left;
    color: #F7F7F7;
    display: block;
    margin-left: 10px;
    max-width: 168px;
    font-size: 15px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 8px;
    cursor: default;
}

.BH_ClientId {
    color: #33CCCC;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    float: left;
    margin-top: 6px;
    cursor: default;
}

.sideNavContainer {
    display: block;
}

.sideNav,
.sideNav>ul {
    width: 100%;
}

.sideNav .Dropdown--select .Dropdown-menu li {
    float: left;
    border: solid 1px #222;
    background: #22272C;
    margin: 2px;
    width: calc(12.5% - 4px);
    height: 38px;
    border-radius: 5px;
}

.sideNav .Dropdown--select .Dropdown-menu li.active {
    background-color: #00B0B6;
}

.sideNav .Dropdown--select .Dropdown-menu>li>a {
    padding-left: 0px;
    color: #A6ACC7;
    text-align: center;
}

.sideNav .Dropdown--select .Dropdown-menu>li>a .Button-icon {
    display: none;
}

.sideNav .Dropdown--select .Dropdown-menu li .Button-label {
    text-align: center;
    font-size: 14px;
}

.sideNav .Dropdown--select .Dropdown-menu li.active .Button-label {
    color: #FFF;
}

#BH_header {
    position: relative;
    height: 40px;
    background-color: #1C1C1C;
    width: 100%;
}

#BH_headerMenu {
    position: relative;
    height: 40px;
    width: 1100px;
    margin: 0 auto;
}

#BH_headerMenu li {
    position: relative;
    height: 40px;
    font-size: 15px;
    list-style: none;
    float: left;
    line-height: 40px;
    text-align: center;
    padding: 0 12px;
}

#BH_headerMenu li:hover .Button-label {
    color: #00B0B6;
}

#BH_headerMenu li+li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 1px;
    bottom: 8px;
    background-color: #555;
    pointer-events: none;
}

#BH_headerMenu li.Dropdown-separator {
    display: none;
}

#BH_headerMenu li a {
    pointer-events: none;
    padding: 0px;
}

#BH_headerMenu .Dropdown-menu>li.active>a {
    background: transparent;
}

#BH_headerMenu .icon {
    display: none;
}

#BH_headerMenu .Button-label {
    color: #CCC;
}

#BH_headerMenu .item-allDiscussions .Button-label {
    color: #00B0B6;
}

#BH_headerMenu li.active .Button-label {
    color: #00B0B6;
}

#BH_headerMenu li.item-newDiscussion {
    position: absolute;
    right: 0px;
    width: 60px;
    text-align: center;
    background-color: #00B0B6;
    border-radius: 3px;
    margin: 3px 0;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
}

#BH_headerMenu li#BH-replay {
    position: absolute;
    right: 0px;
    width: 60px;
    text-align: center;
    background-color: #00B0B6;
    border-radius: 3px;
    margin: 3px 0;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
}

#BH_headerMenu li#BH-replay::before {
    display: none;
}

.sideNav .ButtonGroup {
    display: inline-block;
    width: 100%;
}

#BH_headerMenu li.item-newDiscussion::before {
    display: none;
}

#BH_headerMenu li.item-newDiscussion button {
    padding: 0;
}

#BH_headerMenu li.item-newDiscussion .Button-label {
    color: white;
}

#BH_headerMenu li.item-newDiscussion:hover .Button-label {
    color: white;
}

.item-nav .item-allDiscussions,
.item-nav .item-rankings,
.item-nav .item-following,
.item-nav .item-bookmarks,
.item-nav .item-tags,
.item-nav .Dropdown-separator,
.sideNav .item-newDiscussion {
    display: none;
}

.TagsPage-nav.IndexPage-nav.sideNav {
    display: none;
}

.Composer:not(.fullScreen) {
    margin-left: 0;
    margin-right: 0;
}

#BH_headerMenuFocus {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 84px;
    height: 4px;
    background-color: #00B0B6;
    transition-duration: 500ms;
    box-shadow: 0 0 2px 0px #33cccc;
    pointer-events: none;
}

#BH_headerMenu .Dropdown-menu {
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}

ul.affix {
    display: none;
}

ul.affix-top {
    display: none;
}

.BH_welcomeImage {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 320px;
    margin-bottom: -24px;
}
#BH_adminList {
	position: absolute;
	top: 80px;
	left: calc(50% + 550px);
	background-color: #222;
	padding: 4px 8px;
}
#BH_adminList::before {
    content: "版務人員:";
    position: relative;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.BH_adminItem {
	position: relative;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	margin: 5px;
	float: left;
    box-shadow: 0 0 1px white;
}
.BH_adminItemImg {
	width: 30px;
	height: 30px;
	border-radius: 3px;
}
.BH_adminItemBlock {
	position: absolute;
	top: 100%;
	right: -20px;
	width: 500px;
	height: 0px;
	background-color: #25272A;
	border-radius: 7px;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transition-duration: 150ms;
}
.BH_adminItem:hover .BH_adminItemBlock {
	opacity: 1;
	pointer-events: all;
	height: 160px;
}
.BH_adminItemCover {
	width: 500px;
	height: 100px;
	object-fit: cover;
}
.BH_adminItemAvatar {
	position: absolute;
	top: 50px;
	left: 20px;
	width: 100px;
	height: 100px;
	background-color: #EEE;
	border: solid 3px white;
	border-radius: 3px;
}
.BH_adminItemName {
	position: absolute;
	top: 100px;
	left: 120px;
	right: 0px;
	color: white;
	height: 24px;
	padding-left: 10px;
	font-size: 16px;
	line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.BH_adminItemId {
	position: absolute;
	top: 120px;
	left: 120px;
	right: 0px;
	color: #00B0B6;
	height: 18px;
	padding-left: 10px;
	font-size: 12px;
	line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}